:root{
    --cor-de-fundo: #573824;
    --cor-da-superficie: #F0E8C2;
    --cor-do-texto-principal: #291B1A;
    --cor-do-texto-secundaria: #573A37;
}

body{
    text-align: left;
    background-image: url(assets/bg-image.png);
    background-size: cover;
    font-family: "Alice", serif;
}


#page{
    box-sizing: border-box;
    width: 800px;
    padding: 24px;
    background-color: var(--cor-da-superficie);
    border-radius: 24px;
    margin: 48px auto;
}

img{
    border-radius: 16px;
    width: 752px;
    height: 400px;
}

h1, h2{
    color: var(--cor-do-texto-principal);
}

h1{
    line-height: 140%;
    font-size: 40px;
}

h2{ 
    font-size: 24px;
}

footer{
    color: var(--cor-do-texto-secundaria);
    text-align: center;
}

footer img{
    height: 16px;
    width: 16px;
}